<li class="dropdown header-border">
	                    <a href="#" role="button" class="dropdown-toggle " data-toggle="dropdown">
	                    </a>
	                    <ul class="dropdown-menu block-dark account">
	                        <li class="last notify-disabled"><%= logout("Cerrar Sesión") %></li>
	                    </ul>
</li>