<div class="navbar">
	    <div class="navbar-inner">
	    	<ul class="nav pull-right">

	                <li>
	                <!-- Agregar formulario de busqueda -->                        

	                </li>
	                	<%= render "layouts/noticias/logout" %>
	                	<%= render "layouts/noticias/messages" %> 
	                	
	                

			</ul>
	            <%= link_to noticias_dashboard_path, class: "brand" do %>
	            	<span class="title">Sistema de Noticias</span> <span class="logo"></span></a>
	            <% end %>
	    </div>
	</div><!-- navbar --> 