<%= num_alerts(7) %>
<ul class="dropdown-menu block-dark messages">
<li class="view-all"><a href="#">Tareas Pendientes</a></li> 	 
<li><%= mensages("#","Hola Mundo","dvfsdfsdf","7") %></li>                                  
</ul>