<a data-toggle="collapse" data-target=".nav-collapse" class="btn-sidebar">
	        <span class="notify navigation span12"><i class="icon-reorder"></i> Menu <span class="pull-right label sidebar-label label-danger"><i class="icon-angle-down"></i> </span></span>
</a>