<div data-offset-top="360" data-spy="affix" class="sidebar-nav affix ">
	    <form class="search form-inline">
	        <!-- Agregar formulario de busqueda -->
	    </form>    

	    <%= render "Layouts/noticias/logo" %>
	    <%= render "Layouts/noticias/responsive-menu" %>
	    <%= render "Layouts/noticias/lateralmenu" %>

	    
</div>