<div class="page-header">
  <%= link_to noticias_notifications_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to [:noticias,@notification], :class => 'btn btn-primary' do %>
    <i class="icon-info-sign icon-white"></i>
    Show
  <% end %>
  <h1>Editing notification</h1>
</div>

<%= render 'form' %>
