<div class="page-header">
  <%= link_to noticias_notifications_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>Nueva Notificación</h1>
</div>

<%= render 'form' %>
