 <ul class="dropdown-menu block-dark account">
	                        <li class="first"><a tabindex="-1" href="#"><i class="icon-user"></i> Your profile</a></li>
	                        <li class="first"><a tabindex="-1" href="#"><i class="icon-cogs"></i> Settings</a></li>
	                        <li><a tabindex="-1" href="sign-in.html"><i class="icon-signin"></i> Log in</a></li>
	                        <li class="last notify-disabled"><a tabindex="-1" href="sign-in.html"><i class="icon-signout"></i> Logout</a></li>
	                    </ul>
	                </li>